
.get-started-btn{
    background-color: #706FC8 !important;
    color: white !important
}

.notes-menu {
    background-color: transparent !important;
    color: 'white' !important;
}


.tools-menu{
    border-radius: 15px !important;
    cursor: pointer;
}

.elipsis-icon{
    margin-left: 5px !important;
    margin-right: 25px !important;
}
.test{
    color: white !important;
}

.remove-bg{
    background-color: transparent !important;
    border: none !important;
}

.dashboard-btns{
    background-color: transparent !important;
    color: #3F3B51 !important;
}
.active-btn {
    text-decoration: underline !important;
    color: #F6AE2D !important;
}
.dashboard-btns:hover {
    text-decoration: underline !important;
    color: #F6AE2D !important;
}

@media only screen and (max-width: 400px) {
    .search-bar .input {
        width: 120px;
    }
}
