.note-bg{
    background-color: #262636 !important;
    opacity: 0.7 !important;
    border-radius: 25px !important;
    height: 350px !important;
    padding: 20px !important;
    color: white !important;
    overflow-y: hidden;
    min-width: 250px !important;
}
.note-bg:hover{
    opacity: 1 !important;
    cursor: pointer;

}
.note-content{
    overflow-y: hidden;
}
.note-footer{
    margin-left: 0;
    padding: 25px;
    bottom: 0;
}
.get-started-btn{
    background-color: #706FC8 !important;
    color: white !important
}

.notes-menu {
    background-color: transparent !important;
    color: 'white' !important;
}


.tools-menu{
    border-radius: 15px !important;
    cursor: pointer;
}

.elipsis-icon{
    margin-left: 5px !important;
    margin-right: 25px !important;
}
.remove-bg{
    background-color: transparent !important;
    border: none !important;
}

.dashboard-btns{
    background-color: transparent !important;
    color: #3F3B51 !important;
}
.active-btn {
    text-decoration: underline !important;
    color: #F6AE2D !important;
}
.dashboard-btns:hover {
    text-decoration: underline !important;
    color: #F6AE2D !important;
}
.add-new-note{
    background-color: #706FC8 !important;
}

.notes-segment{
    max-height: 78vh;
    overflow-y: scroll;
}
.search-bar{
    margin-right: 25px !important;
}
.fixed-btn{
    position: fixed !important;
    bottom: 3%;
    right: 3%;
}
.header-card{
    color: white !important;
}
.note-textarea{
    margin-top: 25px;
    resize: none;
    width: 100%;
    color: white !important;
    -ms-overflow-style: none !important;  
    scrollbar-width: none !important;
    border-bottom: 1px solid !important;  
}
.note-textarea::-webkit-scrollbar{
    display: none !important;
}
.card-header-content{
    height: 5px !important;
}
@media only screen and (max-width: 400px) {
    .search-bar .input {
        width: 120px;
    }
}



