.login-form {
  background-color: black;
}

.login-button{
  background-color: #F6AE2D !important;
  width: 225px !important;
}
body{
  font-family: 'Noto Sans Display', sans-serif !important;
  background-color: #3F3B51 !important;
}

.notes-dashboard{
  background-color: #1F1D2C;
  min-height: 90vh;
  padding: 50px;
  border-radius: 25px;
}

body > div {
  height: 100%
}

.loader{
  background-color: transparent !important;
}

.item{
  color: white !important;
  font-weight: Bold !important;
}

.ui.menu .ui.dropdown .menu>.item{
  color: white !important;
}